.container.phishing-container
    img.phishing-bg(src='./images/phishing-bg.png' alt='Фон')
    img.phishing-bg2(src='./images/phishing-bg2.png' alt='Фон2')
    img.phishing-bg3(src='./images/phishing-bg3.png' alt='Фон3')
    .phishing
        p.phishing-first-text Список векторов атак и их последствий - бесконечен. Тем не менее, одним из общих и объединяющих факторов, является – фишинг. Ключевой элемент, получения первоначального логического доступа к информационной среде.
        p.phishing-second-text С целью, внесения собственного вклада в безопасность киберпространства, эксперты компании «S.V Anti-Phishing» разработали систему
            a.phishing-color-text(href='#')  Kill-Phisher.
