.container
    .interaction-algorithm-group
        .interaction-algorithm-card.position-relative
            .interaction-algorithm-description
                h2.interaction-algorithm-title
                    |Алгоритм
                    span.interaction-algorithm-color-text  взаимодействия
                    |  с системой
                p.interaction-algorithm-content Получение учетной записи в облачной системе Kill-Phisher / Размещение системы on-site для инфраструктур, не позволяющих рассмотрение облачного варианта.
            img.interaction-algorithm-img.ml-104(src='./images/interaction-algorithm-img.png' alt='Фото: Учётная запись' )
            img.interaction-algorithm-mobile-bg(src='./images/interaction-algorithm-mobile-bg.png' alt='Фон мобайл')
            img.interaction-algorithm-mobile-bg(src='./images/interaction-algorithm-mobile-bg.png' alt='Фон мобайл')
        .interaction-algorithm-card.interaction-algorithm-card-revert.position-relative
            .interaction-algorithm-description.ml-55
                p.interaction-algorithm-content Добавление в соответствующий раздел системы - карты сетевой инфраструктуры организации, выполняющей роль белого списка легитимной инфраструктуры (внешние / локальные DNS домены компании).
            img.interaction-algorithm-img(src='./images/interaction-algorithm-img2.png' alt='Фото: Панель администратора' )
            img.interaction-algorithm-bg(src='./images/interaction-algorithm-bg.png' alt='Фон')
            img.interaction-algorithm-bg2(src='./images/interaction-algorithm-bg2.png' alt='Фон2')
            img.interaction-algorithm-mobile-bg2(src='./images/interaction-algorithm-mobile-bg2.png' alt='Фон мобайл2')
        .interaction-algorithm-card.position-relative
            .interaction-algorithm-description
                p.interaction-algorithm-content Установка плагина выполняющего роль клиентского программного обеспечения в браузеры сотрудников компании.
            img.interaction-algorithm-img.ml-55(src='./images/interaction-algorithm-img3.png' alt='Фото: Плагин' )
            img.interaction-algorithm-bg3(src='./images/interaction-algorithm-bg3.png' alt='Фон3')
            img.interaction-algorithm-bg4(src='./images/interaction-algorithm-bg4.png' alt='Фон4')
            img.interaction-algorithm-mobile-bg3(src='./images/interaction-algorithm-mobile-bg3.png' alt='Фон мобайл3')
        .interaction-algorithm-card.interaction-algorithm-card-revert.position-relative
            .interaction-algorithm-description.ml-55
                p.interaction-algorithm-content.mb-20 Начало работы системы в базовой конфигурации. Доменное имя каждого ресурса отправляться плагином браузера в систему для дальнейшего анализа.
                p.interaction-algorithm-content Сотрудник компании посещающий легитимный ресурс из белого списка разрешенных DNS имен, получает извещение в виде зеленого флага в плагине браузера.
            img.interaction-algorithm-img(src='./images/interaction-algorithm-img4.png' alt='Фото: Начало работы' )
            img.interaction-algorithm-bg5(src='./images/interaction-algorithm-bg5.png' alt='Фон5')
            img.interaction-algorithm-bg6(src='./images/interaction-algorithm-bg6.png' alt='Фон6')
            img.interaction-algorithm-mobile-bg4(src='./images/interaction-algorithm-mobile-bg4.png' alt='Фон мобайл4')
        .interaction-algorithm-card.position-relative
            .interaction-algorithm-description
                p.interaction-algorithm-content  Посещение нейтральной интернет-зоны — характеризуется в виде желтого флага в установленном плагине браузера.
            img.interaction-algorithm-img.ml-55(src='./images/interaction-algorithm-img5.png' alt='Фото: Нейтральная зона' )
            img.interaction-algorithm-bg7(src='./images/interaction-algorithm-bg7.png' alt='Фон7')
            img.interaction-algorithm-bg8(src='./images/interaction-algorithm-bg8.png' alt='Фон8')
            img.interaction-algorithm-mobile-bg5(src='./images/interaction-algorithm-mobile-bg5.png' alt='Фон мобайл5')
        .interaction-algorithm-card.interaction-algorithm-card-revert.position-relative
            .interaction-algorithm-description.ml-55
                p.interaction-algorithm-content На данном этапе, пользователь системы информирован о безопасных зонах из белого списка и понимает риски взаимодействия с доменами, не попадающими под классификацию зеленого флага.
            img.interaction-algorithm-img(src='./images/interaction-algorithm-img6.png' alt='Фото: Риски' )
            img.interaction-algorithm-bg9(src='./images/interaction-algorithm-bg5.png' alt='Фон9')
            img.interaction-algorithm-bg10(src='./images/interaction-algorithm-bg9.png' alt='Фон10')
            img.interaction-algorithm-mobile-bg6(src='./images/interaction-algorithm-mobile-bg6.png' alt='Фон мобайл6')
        .interaction-algorithm-card.position-relative
            .interaction-algorithm-description
                p.interaction-algorithm-content  Подключение дополнительных модулей для обнаружения целенаправленных атак
            img.interaction-algorithm-img.ml-55(src='./images/interaction-algorithm-img7.png' alt='Фото: Подключение доп модулей' )
            img.interaction-algorithm-bg11(src='./images/interaction-algorithm-bg8.png' alt='Фон11')
            img.interaction-algorithm-bg12(src='./images/interaction-algorithm-bg10.png' alt='Фон12')
            img.interaction-algorithm-mobile-bg7(src='./images/interaction-algorithm-mobile-bg7.png' alt='Фон мобайл7')
        .interaction-algorithm-card.interaction-algorithm-card-revert.position-relative
            .interaction-algorithm-description.ml-55
                p.interaction-algorithm-content Получение красного флага пользоваталем в плагине браузера
            img.interaction-algorithm-img(src='./images/interaction-algorithm-img8.png' alt='Фото: Получение флага' )
            img.interaction-algorithm-bg13(src='./images/interaction-algorithm-bg11.png' alt='Фон13')
            img.interaction-algorithm-bg14(src='./images/interaction-algorithm-bg12.png' alt='Фон14')
            img.interaction-algorithm-mobile-bg8(src='./images/interaction-algorithm-mobile-bg8.png' alt='Фон мобайл8')
        .interaction-algorithm-card.position-relative
            .interaction-algorithm-description
                p.interaction-algorithm-content  Эксперт Blue Team команды, получает извещение о наличии красного флага с возможностью реагировать на атаку в кратчайшие сроки.
            img.interaction-algorithm-img.ml-55(src='./images/interaction-algorithm-img9.png' alt='Фото: Получение извещения' )
            img.interaction-algorithm-bg15(src='./images/interaction-algorithm-bg13.png' alt='Фон15')
            img.interaction-algorithm-bg16(src='./images/interaction-algorithm-bg14.png' alt='Фон16')
            img.interaction-algorithm-mobile-bg9(src='./images/interaction-algorithm-mobile-bg9.png' alt='Фон мобайл9')
