.contacts-message(id="alert-failed")
    .contacts-message-exit
        img.contacts-message-exit-svg(src='./images/exit.svg' alt='Выход')
    .contacts-message-img
        .contacts-message-svg-container-failed
            img.contacts-message-svg(src='./images/failed.svg' alt='Ошибка')
        .contacts-message-description
            h4.contacts-message-title Произошла ошибка
            p.contacts-message-text Попробуйте еще раз.
