.container.position-relative.system-advantages-container
    img.system-advantages-mobile-bg(src='./images/system-advantages-mobile-bg.png' alt='Фон мобайл')
    img.system-advantages-mobile-bg2(src='./images/system-advantages-mobile-bg2.png' alt='Фон мобайл2')
    .system-advantages
        h2.system-advantages-title
            span.system-advantages-color-text Преимущества
            |  системы
    .system-advantages-nav
        .system-advantages-arrow.customPrevBtn
            img.mr-4(src='./images/arrow-left.svg' alt='Назад' )
        .system-advantages-arrow.customNextBtn
            img.ml-4(src='./images/arrow-right.svg' alt='Вперёд' )
    .owl-carousel(id='system-advantages-carousel')
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img.png' alt='Блок №1>' )
            p.system-advantages-description Психологически осознанный и понятный принцип работы светофора – позволяет адаптировать Security Awareness практики на этапе onboarding в организации.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img2.png' alt='Блок №2>' )
            p.system-advantages-description Возможность включения блокировки вредоносного домена, не затрагивая сетевое оборудование компании и персонал из смежных отделов.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img3.png' alt='Блок №3>' )
            p.system-advantages-description Осуществление контроля над веб-трафиком сотрудников, функционирующих в удаленном режиме (не изолированных в пределах сетевого периметра компании).
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img4.png' alt='Блок №4>' )
            p.system-advantages-description Интеграция с поставщиком Threat Intelligence информации – RST Cloud, позволяющая использовать систему для обнаружения наиболее активной вредоносной деятельности в виде:
            p.system-advantages-description - фишинговых операций
            p.system-advantages-description - распространения вредоносного программного обеспечения
            p.system-advantages-description - бот - сетей активных преступных групп
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img5.png' alt='Блок №5>' )
            p.system-advantages-description Набор плагинов для наиболее популярных браузеров.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img6.png' alt='Блок №6>' )
            p.system-advantages-description Возможность интеграции оповещений об инциденте с использованием различных каналов связи:
            p.system-advantages-description - Email
            p.system-advantages-description - Telegram
            p.system-advantages-description - Custom WebHook
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img7.png' alt='Блок №7>' )
            p.system-advantages-description Доступный API для обработки статистических данных об инцидентах и пользовательском трафике.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img8.png' alt='Блок №8>' )
            p.system-advantages-description Возможность размещения в изолированном облаке для индивидуальных нужд заказчика.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img9.png' alt='Блок №9>' )
            p.system-advantages-description Возможность интеграции системы в существующую инфраструктуру заказчика для обеспечения максимального уровня безопасности.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img10.png' alt='Блок №10>' )
            p.system-advantages-description Система не хранит конфиденциальных данных компании о пользователях. Сводная таблица пользователей и идентификаторов плагина храниться и поддерживаться исключительно на стороне клиента.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img11.png' alt='Блок №11>' )
            p.system-advantages-description Постоянно обновляемые правила поиска целенаправленных атак на домены компании.
        .system-advantages-card
            img.system-advantages-img(src='./images/system-advantages-img12.png' alt='Блок №12>' )
            p.system-advantages-description Единая среда для обнаружения и реагирования на фишинговые атаки в web
