.system-advantages {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  z-index: 5;
  margin-right: 20px;
}

.system-advantages-title {
  font-family: 'AnonymousPro';
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.system-advantages-color-text {
  color: #00DBAD;
}

.system-advantages-nav {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  margin-right: 20px;
}

.system-advantages-arrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.system-advantages-arrow:hover,
.system-advantages-arrow:active {
  border-radius: 50%;
  background: #00DBAD80;
}

.customPrevBtn {
  margin-right: 20px;
}

.system-advantages-img {
  margin-bottom: 40px;
}

.system-advantages-description {
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #FFFFFFCC;
}

.system-advantages-mobile-bg,
.system-advantages-mobile-bg2 {
  display: none;
}

@media (max-width: 900px) {
  .system-advantages-container {
    padding-right: 0;
  }

  .system-advantages {
    margin-top: 60px;
  }

  .system-advantages-title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: center;
  }

  .system-advantages-nav {
    margin-bottom: 30px;
  }

  .system-advantages-description {
    font-size: 14px;
    line-height: 21px;
  }

  .system-advantages-img {
    margin-bottom: 20px;
  }

  .system-advantages-mobile-bg {
    display: block;
    position: absolute;
    width: 230px;
    top: -170px;
    right: -20px;
    z-index: 0;
    pointer-events: none;
  }

  .system-advantages-mobile-bg2 {
    display: block;
    position: absolute;
    width: 230px;
    top: 260px;
    left: -20px;
    z-index: 0;
    pointer-events: none;
  }

}
