.container.potential-threats-container
    img.potential-threats-bg(src='./images/potential-threats-bg.png' alt='Фон')
    img.potential-threats-bg-2(src='./images/potential-threats-bg2.png' alt='Фон2')
    img.potential-threats-bg-3(src='./images/potential-threats-bg3.png' alt='Фон3')
    img.potential-threats-bg-4(src='./images/potential-threats-bg4.png' alt='Фон4')
    img.potential-threats-mobile-bg(src='./images/potential-threats-mobile-bg.png' alt='Фон мобильный')
    img.potential-threats-mobile-bg-2(src='./images/potential-threats-mobile-bg2.png' alt='Фон мобильный2')
    img.potential-threats-mobile-bg-3(src='./images/potential-threats-mobile-bg3.png' alt='Фон мобильный3')
    img.potential-threats-mobile-bg-4(src='./images/potential-threats-mobile-bg4.png' alt='Фон мобильный4')
    img.potential-threats-mobile-bg-5(src='./images/potential-threats-mobile-bg5.png' alt='Фон мобильный4')
    .potential-threats-content
        h2.potential-threats-h2
            |Потенциальные
            span.color-text  угрозы
        .potential-threats-nav
            .potential-threats-arrow.potentialPrevBtn
                img.mr-4(src='./images/arrow-left.svg' alt='Назад' )
            .potential-threats-arrow.potentialNextBtn
                img.ml-4(src='./images/arrow-right.svg' alt='Вперёд' )
        .potential-threats-grid(id='potential-threats-carousel')
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img1.png' alt='Логотип')
                p.card-text Отказ в обслуживании и дестабилизация критически важных объектов
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img2.png' alt='Логотип')
                p.card-text Целенаправленные мошеннические атаки и шантаж в отношении влиятельных персон мира бизнеса, политики, военный организаций, лидеров мнений.
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img3.png' alt='Логотип')
                p.card-text Завладение и контроль над приватными кодовыми базами компаний разработки ПО.
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img4.png' alt='Логотип')
                p.card-text Распространение вредоносного программного обеспечения для осуществления полного контроля над сетевой инфраструктурой организаций любого масштаба.
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img5.png' alt='Логотип')
                p.card-text Атаки шифровальщиков на банковскую, транспортную, энергетическую, оборонную и промышленную инфраструктуру, медицинский и научный сектор, телекоммуникацию.
            .potential-threats-card
                .potential-threats-img-group
                    img.potential-threats-img(src='./images/img6.png' alt='Логотип' )
                p.card-text Утечки секретных данных, приватной и конфиденциальной информации бизнеса и специальных ведомств.
