.contacts-message(id="alert-success")
    .contacts-message-exit
        img.contacts-message-exit-svg(src='./images/exit.svg' alt='Выход')
    .contacts-message-img
        .contacts-message-svg-container
            img.contacts-message-svg(src='./images/success.svg' alt='Успешно')
        .contacts-message-description
            h4.contacts-message-title Спасибо!
            p.contacts-message-text Ваше сообщение отправлено.
