.container
    .product-info
        h1.product-info-title
            span.color-text Противодействуем
            |  кибер-операциям
        p.product-info-text
            |Анти-фишинговая система для обнаружения, реагирования и прогнозирования атак.
        .btn-group.position-relative
            .btn.btn-product-info.contacts-scroll
                p Узнать об угрозах
            .btn.btn-dark.interaction-algorithm-scroll
                p Система Kill-Phisher
    img.product-info-bg(src='./images/top-bg.png' alt='Противодействуем кибер-операциям')
    img.product-info-bg-2(src='./images/top-bg2.png' alt='Фон')
    img.product-info-bg-3(src='./images/top-bg3.png' alt='Фон2')
    img.product-info-mobile-bg(src='./images/product-info-mobile-bg.png' alt='Фон мобильный')
    img.product-info-mobile-bg-2(src='./images/product-info-mobile-bg2.png' alt='Фон мобильный2')
