.background-mobile
nav.navbar
    .navbar-bg
    img.navbar-logo#logo(src='./images/logo.svg' alt='Логотип' width='120px' height='40px')
    ul.navbar-list
        li.phishing-scroll
            a.navbar-link(href='#') Фишинг
        li.interaction-algorithm-scroll
            a.navbar-link(href='#') Система Kill Phisher
        li.about-us-scroll
            a.navbar-link(href='#') О нас
        li.partners-scroll
            a.navbar-link(href='#') Партнеры
        li.contacts-scroll
            a.navbar-link(href='#') Контакты
    button.burger
        span.burger-item
        span.burger-item.burger-item-center
        span.burger-item
    img.navbar-mobile-exit#close(src='./images/close.svg' alt='Закрыть' width='17px' height='17px')
.mobile-menu
    ul.navbar-list-mobile
        li.navbar-list-mobile-line.phishing-scroll
            a.navbar-link(href='#') Фишинг
        li.navbar-list-mobile-line.interaction-algorithm-scroll
            a.navbar-link(href='#') Система Kill Phisher
        li.navbar-list-mobile-line.about-us-scroll
            a.navbar-link(href='#') О нас
        li.navbar-list-mobile-line.partners-scroll
            a.navbar-link(href='#') Партнеры
        li.navbar-list-mobile-line.contacts-scroll
            a.navbar-link(href='#') Контакты
