.container
    .partners-container.position-relative
        img.partners-bg(src='./images/partners-bg.png' alt='Фон' )
        h2.partners-title Партнеры
        .partners-group
            img.partners-img(src='./images/rst-logo.svg' alt='RST' )
            p.partners-description Более 260 открытых источников знаний о киберугрозах, включая Twitter, Telegram, Online-песочницы и TI-отчеты. 250К+ индикаторов компрометации в день, подготовленных к использованию в ваших СЗИ.
