.container
    .about-us-container.position-relative
        img.about-us-bg(src='./images/about-us-bg.png' alt='Фон' )
        img.about-us-bg2(src='./images/about-us-bg2.png' alt='Фон2' )
        img.about-us-mobile-bg(src='./images/about-us-mobile-bg.png' alt='Фон мобайл')
        img.about-us-mobile-bg2(src='./images/about-us-mobile-bg2.png' alt='Фон мобайл2')
        img.about-us-mobile-bg3(src='./images/about-us-mobile-bg3.png' alt='Фон мобайл3')
        img.about-us-mobile-bg4(src='./images/about-us-mobile-bg4.png' alt='Фон мобайл4')
        h2.about-us-title О нас
        .about-us-group
            .about-us-card
                img.about-us-img(src='./images/about-us-img.png' alt='Co-Founder' )
                h3.about-us-card-title Александр Семененко (Co-Founder)
                h4.about-us-card-job-title Эксперт по информационной безопасности.
                a.about-us-card-link(href='https://www.linkedin.com/in/alexander-semenenko' target='_blank') https://www.linkedin.com/in/alexander-semenenko/
                .about-us-card-description-container
                    p.about-us-card-description Более 8 лет опыта работы в области консалтинга безопасности для клиентов: банковской, энергетической, промышленной сферы, финансовых институтов, IT-компаний.
                    p.about-us-card-description Специализируется в области практического анализа безопасности (Red Team, Pentest) / Application Security.
            .about-us-card
                img.about-us-img(src='./images/about-us-img2.png' alt='CTO' )
                h3.about-us-card-title Co-Founder (CTO).
                .about-us-card-description-container
                    p.about-us-card-description Эксперт в области промышленной разработки, с опытом работы более 14 лет. Успешно возглавлял технические отделы в крупных корпорациях.
