.footer
    img.footer-logo#logo(src='./images/logo.svg' alt='Логотип' width='200px' height='68px')
    .footer-link-list
        ul.footer-list
            li.footer-link-container.phishing-scroll
                a.footer-link(href='#') Фишинг
            li.footer-link-container.interaction-algorithm-scroll
                a.footer-link(href='#') Система Kill Phisher
            li.footer-link-container.about-us-scroll
                a.footer-link(href='#') О нас
            li.footer-link-container.partners-scroll
                a.footer-link(href='#') Партнеры
            li.footer-link-container.contacts-scroll
                a.footer-link(href='#') Контакты
        .footer-info
            a.footer-link(href='mailto:info@anti-phishing.ru') info@anti-phishing.ru
            a(href='https://www.linkedin.com/in/alexander-semenenko' target="_blank")
                img.footer-linkedin-logo#info(src='./images/linkedin.svg' alt='LinkedIn' width='32px' height='32px')


