.container
    .metrics-system-container.position-relative
        img.metrics-system-bg(src='./images/metrics-system-bg.png' alt='Фон')
        img.metrics-system-bg2(src='./images/metrics-system-bg2.png' alt='Фон2')
        img.metrics-system-bg3(src='./images/metrics-system-bg3.png' alt='Фон3')
        img.metrics-system-mobile-bg(src='./images/metrics-system-mobile-bg.png' alt='Фон мобайл')
        img.metrics-system-mobile-bg2(src='./images/metrics-system-mobile-bg2.png' alt='Фон мобайл2')
        img.metrics-system-mobile-bg3(src='./images/metrics-system-mobile-bg3.png' alt='Фон мобайл3')
        img.metrics-system-mobile-bg4(src='./images/metrics-system-mobile-bg4.png' alt='Фон мобайл4')
        h2.metrics-system-title
            span.metrics-system-color-text Система метрик,
            |  позволяющая:
        .metrics-system-group
            .metrics-system-card
                img.metrics-system-img(src='./images/metrics-system-img.png' alt='Будущие атаки')
                p.metrics-system-description Прогнозировать будущие атаки.
            .metrics-system-card
                img.metrics-system-img(src='./images/metrics-system-img2.png' alt='Слабые звенья')
                p.metrics-system-description Выявлять наиболее слабые организационные звенья компании в виде отделов, департаментов, определенных лиц наиболее подверженных фишинговым атакам.
            .metrics-system-card
                img.metrics-system-img(src='./images/metrics-system-img3.png' alt='Виды атак')
                p.metrics-system-description Выявлять наиболее частые виды фишинговых атак и как следствие адаптировать систему security awareness для шлифовки навыков по обнаружению и минимизации рисков с данным вектором атаки.
            .metrics-system-card
                img.metrics-system-img(src='./images/metrics-system-img4.png' alt='Помощь')
                p.metrics-system-description Оказывать значительную помощь на этапе расследования инцидентов.

